/*---------------------------------------------------------
 * Theme    : ActiWeb3.0
 * Auteur   : Myster.
 * Site web : http://twibook.net
 * Commentaire ou autre de l'auteur 
 # Contient les conteneur, fortement dépendant du design.
 # Merci de ne pas toucher au entête des fichiers CSS.
 #
 *----------------------------------------------------------
* Css revu par: CsN : Swan.
* Site web :   http://chez-swan.net/
* En date du : 16/03/13
*
/* --------------------------------------
			forum.css
/* --------------------------------------*/

.forum_table {
	width:100%;
	border-collapse:collapse;
	border:none;
}
 
/* Classe du lien du pseudo sur forum */
a.forum_link_pseudo{
	color:#e8eaeb; 
	font-weight:bold;
}
a.forum_link_pseudo:hover { 
	color:#f2fbff; 
	font-weight:bold;
}
/* Barre du titre du forum */
.forum_title_l{
	float:left;
	width:5px;
	height: 55px;
	border-top:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
}
.forum_title_r{
	float:right;
	width:5px;
	height: 55px;
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}
.forum_title{
	margin:auto;
	height:55px;
	color:#444444;
	background: none repeat scroll 0 0 #EEEEEE;
	border-top:1px solid #DDDDDD;

}
.forum_title h2{ /* Titre du forum */
	font-size:14px;
	font-weight:bold;
	color:#444444;
}
.forum_title a{ /* Couleur des liens */
	color:#444444;
}
/* Barre de liens du forum */
.forum_links{
   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px;
    color:#444444;
    padding: 6px;
	

}
.forum_links a{ /* Couleur des liens */
	color:#444444;
}
.forum_notread{ /* Message non lus */
    background: none repeat scroll 0 0 #EEEEEE;
    color: #999999;
	padding:4px;
	font-size:10px;
}
/* Barre des textes relatifs aux colonnes */
.forum_text_column {	
    background: none repeat scroll 0 0 #DD39FE;
    color: #FFF;
    font-size: 11px;
    height: 20px;
    text-align: center;
}
/* Case des liens sous-catégories */
.forum_sous_cat{
    background: none repeat scroll 0 0 #F7D2FE;
    border-right: 1px dotted #BBBBBB;
    padding: 6px;
}

/* Case compteur message/topic */
.forum_sous_cat_compteur{	
    background: none repeat scroll 0 0 #F7D2FE;
    border-right: 1px dotted #BBBBBB;
	width:60px;
	color:#444444;
	text-align:center; 
}
/* Case compteur dernier topic/dernier message */
.forum_sous_cat_last{
    background: none repeat scroll 0 0 #F7D2FE;
    border-right: 1px dotted #BBBBBB;
	width:150px;
	font-size:10px;
	color:#444444;
	text-align:center; 
}

/* Formulaire pour poster les messages */
.forum_post_form{
	width:80%;
	margin:auto;
	margin-top:15px;
}
/* Cadre des liens:alerter les modérateurs et suivre le sujet */
.forum_action{	
	margin-top:5px;
	text-align: center;
}

/* Les des catégories de niveau 0 */
a.forum_link_cat{
	font-weight:bold;
}
/* Affichage des membres en ligne */
.forum_online{
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    clear: both;
    color: #444444;
    height: auto !important;
    overflow: hidden !important;
    padding: 6px;
}
.forum_online_select_cat{
	float:left;
	text-align:right;
	clear:both;
	padding:5px;	
}
.forum_online_select{
	min-width:160px;
	max-width:530px;	
}

/* Fond des catégories dans l'administration */
.forum_cat_admin{
	width:100%;
	height:20px;
	margin-bottom:2px;
	padding:4px 0px;
}
/* Contenu */
.forum_contents{
	padding:0px;
	margin:0px;
	border:1px solid #D1D4DF;
	border-bottom:none;
}
.forum_cat_title{
	float:left;
	padding:0px 5px;
}
.forum_cat_title a{
}
a.forum_mbrmsg_links { /* Couleur des liens pour les messages du membre */
	color:#FFFFFF;
}

.forum_search_word{
	background:yellow;
	color:black;	
}

.module_top_l{ /* Barre supérieur des modules */
}
.module_top_r{
}
.module_top{
    background: none repeat scroll 0 0 #EEEEEE;
	border:1px solid #DDDDDD;
	min-height:20px;
	height:auto;
	padding:10px 5px 10px 5px;
	color:#444444;
	font-weight:normal;
	text-indent:0px;
   	margin: 0px;
    width: auto;
	float:none;
}
.module_top a{
	color:#444444;
	font-size:13px;
}
.module_contents{ /* Contenu des modules */
	clear:both;
}

.module_bottom_l{ /* Barre inférieure des modules */
}
.module_bottom_r{
}
.module_bottom{
    background: none repeat scroll 0 0 #EEEEEE;
	border:1px solid #DDDDDD;
	min-height:20px;
	height:auto;
	padding:10px 5px 10px 5px;
	color:#444444;
	font-weight:normal;
	text-indent:0px;
}
.module_bottom a{
	color:#444444;
	font-size:13px;
}

.desc_forum{
	font-size: 10px;
}

.msg_position{
	width:94%;	
}
