/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background-color: #222629;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
}

/* --- Partie superieure du header --- */
div#top-header {
	background: #222629;
	margin: auto;
	min-height: 50px;
	width: 100%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	-moz-box-shadow: 0px 0px 4px 0px #000;
	-webkit-box-shadow: 0px 0px 4px 0px #000;
	-o-box-shadow: 0px 0px 4px 0px #000;
	box-shadow: 0px 0px 4px 0px #000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=NaN, Strength=4); 
}

.fix {
	z-index: 9999;
	position: fixed;      
}

div#top-header-content {
	max-width: 1200px;
	margin: 0 auto;
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 400px;
	flex: 1 1 auto;
	margin-top: 0;
	float: left;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 48px;
	height: 48px;
	background-image: url('images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 2em;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width: 769px) {
	div#site-logo {
		width: 48px;
		height: 48px;
	}

	div#site-name-container {
		margin: 1em 0 0 0;
	}

	a#site-name {
		font-size: 2em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1200px;
}

div#main {
	background: #FFF;
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
	-moz-box-shadow: 0px 0px 3px 0px #000000;
	-webkit-box-shadow: 0px 0px 3px 0px #000000;
	-o-box-shadow: 0px 0px 3px 0px #000000;
	box-shadow: 0px 0px 3px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=3);
}

aside#menu-left,
aside#menu-right {
	width: 100%;
	background: url('images/left_right_menu.png') repeat;
	border-left: 3px solid rgba(0, 0, 0, 0.2);

	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	max-width: 240px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 240px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 340px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
    background: url('images/left_right_menu.png') repeat;
    width: 100%;
    margin-top: 40px;
    -moz-box-shadow: 0px 0px 4px 0px #191919;
	-webkit-box-shadow: 0px 0px 4px 0px #191919;
	-o-box-shadow: 0px 0px 4px 0px #191919;
	box-shadow: 0px 0px 4px 0px #191919;
	clear: both;
}

footer#footer #footer_global {
	max-width: 1180px;
	margin: 0 auto;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
	border-bottom: 2px groove #444444;
	display: -webkit-box;
	display: -moz-box;
}

footer#footer .footer-infos {
	padding-top: 10px;
	min-height: 40px;
	text-align: center;
}

footer#footer .footer-infos span {
	color: #FFFFFF;
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#compteur {
	position: absolute;
	right: 0;
	margin-right: 15px;
	font-size: 0.9em;
	color: #E9ECD9;
	text-align: right;
}

@media (min-width: 769px) {
	div#compteur {
		top: 100px;
	}
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}