/** --- BBcode --- **/
.bbcode {
	position: relative;
	display: table;
	margin: 5px auto -2px auto;
	border-radius: 4px 4px 0 0;
	width: 100%;
}

/* --- Icones de la barre BBCode --- */
.bbcode .btn-xs,
.bbcode .btn-group-xs > .btn {
    padding: 3px 5px 1px;
}

.bbcode .btn a,
.bbcode .btn .fa {
	text-align: center;
	vertical-align: 0;
}

/* --- Conteneur de la barre BBCode --- */
.bbcode-containers {
	display: table-cell;
	font-size: 0;
	padding: 5px 0 0;
}

.bbcode-containers .btn-group {
	margin-bottom: 5px;
}

/* --- Icone de depliage de la barre BBCode --- */
#icon-more {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

#icon-more .fa {
	font-size: 14px;
}

/* --- Conteneur sous boutons --- */
.bbcode-block-container {
	position: absolute;
	top: 28px;
	left: -5px;
	margin: 0;
	padding: 0;
	z-index: 10;
	font-size: 14px;
}

.block-color-picker { left: 102px; }
.block-size 		{ left: 129px; }
.block-font 		{ left: 158px; }
.block-list 		{ left: 25px; }
.block-hide 		{ left: 25px; }
.block-alert 		{ left: 52px; }
.block-table 		{ left: 76px; }
.block-bgcolor-picker { left: 50px; }

.bbcode-block-container:before {
	position: absolute;
	top: -8px;
	left: 8px;
	border-bottom: 9px solid #cccccc;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	content: " ";
}

.bbcode-block-container:after {
	position: absolute;
	left: 9px;
	top: -7px;
	border-bottom: 8px solid #cccccc;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: " ";
}

.bbcode-block {
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
	padding: 5px;
	width: auto;
}

.bbcode-block a {
	cursor: pointer;
	text-decoration: none;
}

/* --- Conteneur sous boutons avec input--- */
.bbcode-block .input-group-addon,
.bbcode-block .form-control {
	font-size: 12px;
	padding: 3px;
	height: auto;
	text-align: center;
}

/* --- Conteneur sous bouton avec liste --- */
.bbcode-block-list {
	margin: 0;
	padding: 3px 0;
	overflow: visible;
}

.bbcode-block-list li,
.bbcode-block-list li a {
	display: block;
	padding: 2px 4px;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
}

.bbcode-block-list li:hover {
	background-color: #c6abed;
}

/* --- Conteneur des smileys et des icones FA --- */
.bbcode-block-smileys,
.bbcode-block-fa {
	max-height: 200px;
	padding: 4px 0px 2px 3px;
	overflow-y: auto;
	text-align: left;
}

.bbcode-block-smileys li,
.bbcode-block-fa li {
	display: inline-block;
}

.bbcode-block-fa li {
	padding: 1px 2px;
	width: 20px;
}

.bbcode-block-smileys li a,
.bbcode-block-fa li a {
	display: block;
}

/* --- Conteneur du selecteur de couleur de texte --- */

.block-color-picker .bbcode-block table {
	margin: auto;
	border: none;
	border-collapse: collapse;
}

.block-color-picker td {
	padding: 0;
	border: 1px solid #F3F3F3;
}

.block-color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- Conteneur du selecteur de couleur de fond --- */

.block-bgcolor-picker .bbcode-block table {
	margin: auto;
	border: none;
	border-collapse: collapse;
}

.block-bgcolor-picker td {
	padding: 0;
	border: 1px solid #F3F3F3;
}

.block-bgcolor-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- Conteneur des codes --- */
.bbcode-block-code {
	margin: 0;
	padding: 0;
	height: 300px;
	overflow-y: scroll;
}

.bbcode-block-code > ul {
	padding-left: 0;
}

.bbcode-block-code li {
	padding: 0 0 0 12px;
}

.bbcode-block-list li.bbcode-code-title {
	margin: 3px 10px 1px 5px;
	padding: 6px 0 1px 2px;
	border-bottom: 1px solid #DFDFDF;
}

.bbcode-block-list li.bbcode-code-title:hover {
	background: none;
	cursor: auto;
}

.bbcode-block-list li.bbcode-code-title span {
	color: #666666;
	font-weight: bold;
}

/* --- Style des differents conteneurs sous icone --- */
.bbcode-block-smileys   { width: 188px; }
.bbcode-block-fa        { width: 272px; }

.bbcode-block-table,
.bbcode-block-ul 	{
	width: auto;
	overflow: hidden;
}
.bbcode-block-table .input-group,
.bbcode-block-ul .input-group {margin-bottom: 5px;}
.bbcode-block-table p,
.bbcode-block-ul p {margin-bottom: 0;}
.bbcode-block-table p .btn,
.bbcode-block-ul p .btn {float: none;}

.bbcode-forbidden,
.bbcode-forbidden i {
	opacity: 0.3 !important;
	cursor: not-allowed !important;
}

/* --- Icones de la barre BBCode --- */
.bbcode-icon-anchor:before      { content: "\f13d"; }
.bbcode-icon-bold:before        { content: "\f032"; }
.bbcode-icon-italic:before      { content: "\f033"; }
.bbcode-icon-underline:before   { content: "\f0cd"; }
.bbcode-icon-strike:before      { content: "\f0cc"; }
.bbcode-icon-smileys:before     { content: "\f118"; }
.bbcode-icon-title:before       { content: "\f022"; }
.bbcode-icon-subtitle:before    { content: "\f096"; }
.bbcode-icon-style:before       { content: "\f071"; }
.bbcode-icon-url:before         { content: "\f0ac"; }
.bbcode-icon-image:before       { content: "\f03e"; }
.bbcode-icon-lightbox:before    { content: "\f030"; }
.bbcode-icon-quote:before       { content: "\f10d"; }
.bbcode-icon-hide:before        { content: "\f070"; }
.bbcode-icon-list:before        { content: "\f03a"; }
.bbcode-icon-color:before       { content: "\f043"; }
.bbcode-icon-bgcolor::before 	{ content: "\f1fc"; }
.bbcode-icon-size:before        { content: "\f034"; }
.bbcode-icon-font:before        { content: "\f031"; }
.bbcode-icon-minus:before       { content: "\f068"; }
.bbcode-icon-plus:before        { content: "\f067"; }
.bbcode-icon-more:before        { content: "\f0dc"; }
.bbcode-icon-left:before        { content: "\f036"; }
.bbcode-icon-center:before      { content: "\f037"; }
.bbcode-icon-right:before       { content: "\f038"; }
.bbcode-icon-justify:before     { content: "\f039"; }
.bbcode-icon-pull-left:before  { content: "\f048"; }
.bbcode-icon-pull-right:before { content: "\f051"; }
.bbcode-icon-sup:before         { content: "\f12b"; }
.bbcode-icon-sub:before         { content: "\f12c"; }
.bbcode-icon-indent:before      { content: "\f03c"; }
.bbcode-icon-table:before       { content: "\f0ce"; }
.bbcode-icon-flash:before       { content: "\f01d"; }
.bbcode-icon-movie:before       { content: "\f008"; }
.bbcode-icon-youtube:before     { content: "\f167"; }
.bbcode-icon-sound:before       { content: "\f001"; }
.bbcode-icon-code:before        { content: "\f121"; }
.bbcode-icon-math:before        { content: "\f136"; }
.bbcode-icon-html:before        { content: "\f13b"; }
.bbcode-icon-help:before        { content: "\f059"; }
.bbcode-icon-upload:before      { content: "\f0ee"; }
.bbcode-icon-fa:before          { content: "\f024"; }

/* Icones modifications size or color */
.bbcode-icon-math:before {
	font-size: 0.8em;
}

.bbcode-icon-plus:before,
.bbcode-icon-minus:before  {
	font-size: 0.7em;
}

.bbcode-icon-more:before {
	font-size: 0.8em;
}
