.calendar-content {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);	
}

div.calendar-content { 
	padding: 6px;
	border: 1px solid #BEBEBE;
	border-top: none;
}

/* Affichage du mois en cours*/
div.calendar-top-container {
	padding: 10px 4px;
	float: none;
	margin: 0px;
	background: #4BA9A1;
	border: 1px solid #BEBEBE;
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
}
div.calendar-top-content {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}

div.calendar-top-container a, 
div.calendar-top-container a:hover {
	color: #FFFFFF;
	cursor: pointer;
}

div.calendar-top-l,
div.calendar-top-r { padding-top: 1px; }
div.calendar-top-l { float: left; padding-left: 25px; }
div.calendar-top-r { float: right; padding-right: 25px; }


/* Affichage des évenements */
div.event-display-author {
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
}

div.event-display-dates {
	font-size: 10px;
	font-weight: normal;
	padding: 4px;
	float: right;
	width: 175px;
}

/* Particularité du tableau du calendrier */
table.calendar-table thead tr th {
	background: none;
	border: none;
	color: #555555;
}

table.calendar-table tbody tr td a{
	color: #333333;	
	font-size: 13px;
	font-weight: bold;
}


table.calendar-table tbody tr td:first-child {
	background: none;
	border: none;
	color: #BEBEBE;
}

table.calendar-table thead tr th.text-strong { 
	font-size: 13px;
	font-weight: bold;
}
table.calendar-table tbody tr td { height: 40px; }

/* Couleur des différents évenements */
table tbody tr td.calendar-none { background: #FFFFFF; }
table tbody tr td.calendar-today { background: #DBEEDD; }
table tbody tr td.calendar-event { background: #DBE5EE; }
table tbody tr td.calendar-other { background: #F9F9F9; }

table tbody tr td.calendar-weekend { background: #F1F1F1; }
table tbody tr td.calendar-week { 
	border-right: 1px solid #AAAAAA; 
	width: 8%;
}

/* Affichage de du titre de l'évenement dans le tableau de l'administration */
table tbody tr th.column-title { width: 28%; }

/* Affichage du mini calendrier dans une colonne */
div.module-mini-contents div.calendar-top-container { padding: 2px; }

div.module-mini-contents div.calendar-top-content {
	font-size: 12px;
	padding-top: 1px;
}

div.module-mini-contents div.calendar-content {
	box-shadow: none;
}

div.module-mini-contents div.calendar-top-l,
div.module-mini-contents div.calendar-top-r { padding-top: 0px; }

div.module-mini-contents div.calendar-top-l { padding-left: 7px; }
div.module-mini-contents div.calendar-top-r { padding-right: 7px; }

div.module-mini-contents table.calendar-table thead tr th.text-strong{ font-size: 11px; }
div.module-mini-contents table.calendar-table tbody tr td { height: auto; }
div.module-mini-contents table.calendar-table tbody tr td.calendar-week { width: auto; }

div.module-mini-contents div#date_select_form form.fieldset-content { margin-top: 0px; }
div.module-mini-contents div#CalendarAjaxCalendarController_choose-date { margin: 5px 0px 10px 0px; }
div.module-mini-contents div#CalendarAjaxCalendarController_choose-date div.form-element { margin: 0px; }

/* Affichage Events */
div#events {
	margin: 30px 0px 10px 0px;	
}

.event-container header h2 {
	border-bottom: 2px #555555 solid;
	margin-bottom: 20px;
}
