

.panel-heading [class*="col-"] {padding: 0;}
.panel-picture { height: 230px; }

.admin-menu-element > * {
	display: block;
	padding: 0.618em 0.809em 0.618em 0.809em;
	border: none;
	width: 100%;
	margin: 0;
}

.admin-menu-element > *:hover {
	border: none;
}

/* -- Gestion du menu multiple -- */
.multiple-select-menu-container {
	position: fixed;
	display: block;
	bottom: 4.236em;
	right: 2.618em;
}
