div#search_form{
	position:absolute;
	background-attachment:fixed;
    right:20px;
	top:0px;
	padding:10px;
	padding-top:15x;
	padding-left:70px;
	background: url(images/sr.png) no-repeat;
	width : 222px;
	height: 60px;
	color: #888;
	
}

.search_entry {
	background:none;
	border:none;
	padding-left:0px;
	padding-top:0px;
	width:120px;
	height:18px;
	font-size:12px;
	color:#E9ECEF;
}
.search_entry:hover {
	background:none;
	border:none;	
}
.search_entry:focus {
	background:none;
	border:none;	
}

.search_submit {
	padding:0;
	border:none;
	background:none;
}
.search_submit:hover {
	border:none;
	background:none;
}
.search_submit:focus {
	border:none;
	background:none;
}