/*---------------------------------------------------------
 * Theme    : Mystic Halloween
 * Par      : EDN | Swan
 * Date     : 12/10/2017
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
/*--------------------------------------------------------
 * Thème compatible avec deux / ou une seule colonne de menus.
 *----------------------------------------------------------*/

/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/



/* -- Elements HTML generiques specifique au theme --
--------------------------------------*/
/* afficher le texte sélectionné en jaune sur fond rouge */
html ::-moz-selection { color:#efefef;  background: #1f4c45 none repeat scroll 0 0;}
html ::selection     { color:#efefef;  background:#1f4c45 none repeat scroll 0 0;}

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond noir */
p::-moz-selection { color:#efefef;  background: #1f4c45 none repeat scroll 0 0; }
p::selection      { color:#efefef;  background: #1f4c45 none repeat scroll 0 0;}

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	background: #20232C url(images/bg1.jpg) repeat scroll 0 0; 
	position: relative;
	height: auto;
	min-height: 100%;
	color: #def2eb;
	font-size: 1.3em;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- Gestion de la taille du site -- */
/* ---------------------------------- */

#header{ width: 100%;}

#global, #global-master {
	width: 100%;
	max-width: 1024px;
}

#footer {
	width: 100%;
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
#header {
	background: linear-gradient(to bottom, #1f4c45 0%,#1e3c3a 25%,#20232c 100%);
	margin: auto;
}

/* --- Partie superieure du header --- */
#top-header {
	background: transparent url(images/head-top.png) repeat-x scroll 0 bottom;
	border-color: #E1E1E1;
	position: relative;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 250px;
}

#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
#sub-header {
	background: #1f4c45;
	border-top: 1px solid #178055;
	border-bottom: 1px solid #178055;
	min-height: 80px;
	padding-top: 10px;
}

#sub-header-content{
	margin: auto;
}

#sub-header, #sub-header a { 
	color: #1ECC85;
	font-weight: normal;
}

#sub-header a:hover 	{
	color: #000000;
	text-shadow: 1px 0 0 #e349ff, -1px 0 0 #e349ff, 0 1px 0 #e349ff, 0 -1px 0 #e349ff, 1px 1px #e349ff, -1px -1px 0 #e349ff, 1px -1px 0 #e349ff, -1px 1px 0 #e349ff, 2px 1px 4px rgba(0, 0, 0, 0.7);
}
	
/* --- Logo et Nom du site web --- */
#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 940px;
	flex: 1 1 auto;
}

#site-logo {
	margin: 0 1em 0 0;
	width: 60px;
	height: 60px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

#site-name-container {
	margin: 0.4em 0 0 0;
}

#site-name {
    color:transparent;
	background-image: linear-gradient(#1ECC85 40%, #1f4c45 80%, #1e3c3a 120%);
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.9);
  /*---------*/
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;			 
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #1ECC85;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width: 769px) {
	#site-logo {
		width: 350px;
		height: 295px;
	}

	#site-name-container {
		margin: 4em 0 0 0;
	}

	#site-name {
		font-size: 4em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
#global-master{
	background-color: #20232C; 
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #000000;
	margin: 0 auto 0 auto;
	padding: 0;	
	box-shadow: 0px 5px 10px rgba(30, 204, 133, 0.5);
}

#global {

	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 0 auto 0 auto;
	padding: 0;
}


#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

#menu-left,
#menu-right {
	width: 100%;
}

#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	#main {
		padding: 0 3px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	#menu-left,
	#menu-right {
		width: 200px;
	}

	#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

#top-footer {
	clear: both;
	padding: 0.5em 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
#main-content {
	padding: 1.5em 0;
}

@media (max-width : 768px) {
	#main-content {
		padding: 1.5em 0.8em;
	}
}
.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
}

/* --- Emplacement au dessus du pied de page --- */
#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
#footer {
	background-color: #1f4c45;
	border-top: 1px solid #178055;
	margin: auto;
	clear: both;
	min-height: 100px;
}

.footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
}

.footer-infos {
	margin: auto;
	padding-top: 45px;
	min-height: 40px;
	text-align: center;
}

.footer-infos span 	{ color: #1ECC85; }
.footer-infos span a 	{ color: #021B34; }

@media (min-width: 769px) {
	.footer-infos {
		width: 700px;
	}
}

.footer-infos span {
	font-size: 0.8em;
}

@media (max-width: 768px) {
	.footer-infos span {
		display: block
	}

	.footer-infos span.footer-infos-separator {
		display: none;
	}

	.footer-infos {
		padding: 10px;
	}
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visites --- */
#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	text-align: right;
}

/* --- Barre de lien rapide --- */
#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb img {
	vertical-align: middle;
}
#breadcrumb ol {
	margin: 0;
	list-style: none;
}

#breadcrumb li {
	display: inline;
}

#breadcrumb li:not(.current):after {
	content: '::';
	color: #e349ff;
}

/* --- Scroll to Top --- */
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: #1f4c45;
	box-shadow: 0 0 10px black, 0 0 0 1px rgba(30, 204, 133, 0.5) inset;
}

#scroll-to-top {
	right: 25px;
	bottom: 0;
	padding: 2px 5px 6px 5px;
	transition: 0.2s;
}

.scroll-to i {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 25px;
		padding: 2px 5px 6px 5px;
		border-radius: 5px;
	}

	.scroll-to i {
		font-size: 1.5em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 2px 5px 6px 5px;
		transition: 0.3s;
	}
}

/* --   Cookie Bar  -- */ 
/* ------------------- */
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
    background-color: #000000;
    border-bottom: 1px solid #178055;
	font-size: 0.9em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 320px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 320px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #1F4C45; border-color: #178055; }
.cookiebar-button-understand:hover 	{ background-color: ##1F4C45; }

.cookiebar-button-allowed 			{ background-color: #5CB85C; border-color: #4CAE4C; }
.cookiebar-button-allowed:hover 	{ background-color: #4CAE4C; }

.cookiebar-button-declined 			{ background-color: #E84E40; border-color: #CE271A; }
.cookiebar-button-declined:hover 	{ background-color: #CE271A; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}

/*--      Autres     --
/*-------------------*/

.halloween {
    background: transparent url(images/halloween.png) no-repeat scroll 0 0;
    z-index: 11;
    width: 76px;
    height: 69px;
    position: absolute;
    left: 10px;
    margin-top: -42px;
    margin-left: 130px;
}

@media (max-width: 768px) {

	#sub-header { min-height: 40px; padding-top: 0px;}
	.halloween {display:none;}	
	.clear-scroll { visibility: hidden; }
		
}