.forum_table {                                                                                           
        width:100%;                                                                                      
        border-collapse:collapse;                                                                        
        border:none;
		font-size:1.2em;
}                                                                                                        
                                                                                                         
/* Classe du lien du pseudo sur forum */                                                                 
a.forum_link_pseudo{                                                                                     
        color:#e2001a;                                                                                   
        font-weight:bold;                                                                                
}                                                                                                        
a.forum_link_pseudo:hover {                                                                              
        color:#fff;                                                                                   
        font-weight:bold;                                                                                
}                                                                                                        
/* Barre du titre du forum */                                                                            
.forum_title_l{                                                                                          
        height:60px;                                                                                     
        margin-right:0px !important;                                                                     
        margin-right:-3px;                                                                               
        width:10px;                                                                                      
      background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

 float:left;                                                                                      
}                                                                                                        
.forum_title_r{                                                                                          
        height:60px;                                                                                     
        width:10px;                                                                                      
        margin-left:0px !important;                                                                      
        margin-left:-3px;                                                                                
     background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

 float:right;                                                                                     
}                                                                                                        
.forum_title{
	
        margin:auto;                                                                                     
        height:55px;                                                                                     
     background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

color:#366393;                                                                                   
        padding-top:5px;                                                                                 
        margin-left:5px;                                                                                 
        margin-right:5px;                                                                                
}                                                                                                        
.forum_title h2{ /* Titre du forum */                                                                    
        font-size:14px;                                                                                  
        font-weight:bold;                                                                                
        color:#366393;                                                                                   
}                                                                                                        
.forum_title a{ /* Couleur des liens */                                                                  
        color:#366393;                                                                                   
}                                                                                                        
/* Barre de liens du forum */                                                                            
.forum_links{
	background: #407ec4; /* Old browsers */
background: -moz-linear-gradient(top,  #407ec4 0%, #1f3d59 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#407ec4), color-stop(100%,#1f3d59)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #407ec4 0%,#1f3d59 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #407ec4 0%,#1f3d59 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #407ec4 0%,#1f3d59 100%); /* IE10+ */
background: linear-gradient(to bottom,  #407ec4 0%,#1f3d59 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#407ec4', endColorstr='#1f3d59',GradientType=0 ); /* IE6-9 */

 padding:6px;                                                                                     
                                                                        
}                                                                                                        
.forum_links a{ /* Couleur des liens */                                                                  
        color:#FFFFFF;                                                                                   
}                                                                                                        
.forum_notread{ /* Message non lus */                                                                    
        background:#fff;                                                                              
        padding:4px;                                                                                     
        font-size:10px;                                                                                  
        color:#7f7f7f;                                                                                   
}                                                                                                        
/* Barre des textes relatifs aux colonnes */                                                             
.forum_text_column {                                                                                     
        height:20px;                                                                                     
        background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		border: none;                                                                 
        font-size:10px;                                                                                  
        color:#7f7f7f;                                                                                   
        text-align:center;                                                                               
        font-weight:bold;                                                                                
}                                                                                                        
/* Case des liens sous-catégories */                                                                     
.forum_sous_cat{                                                                                         
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
		background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		padding:6px;                                                                                     
}                                                                                                        
.forum_sous_cat:hover{                                                                                   
                                                                                  
}                                                                                                        
/* Case compteur message/topic */                                                                        
.forum_sous_cat_compteur{                                                                                
        width:60px;                                                                                      
        background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
		background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
                                                           
       color:#626262;                                                                                   
        text-align:center;                                                                               
}                                                                                                        
/* Case compteur dernier topic/dernier message */                                                        
.forum_sous_cat_last{                                                                                    
        width:150px;                                                                                     
        background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
                                                                    
        font-size:10px;                                                                                  
        color:#626262;                                                                                   
        text-align:center;                                                                               
}                                                                                                        
.forum_sous_cat_last:hover{                                                                              
                                                                   
}                                                                                                        

/* Formulaire pour poster les messages */
.forum_post_form{                        
        width:80%;                       
        margin:auto;                     
        margin-top:15px;                 
}                                        
/* Cadre des liens : alerter les modérateurs et suivre le sujet */
.forum_action{                                                  
        margin-top:5px;                                         
}                                                               

/* Les des catégories de niveau 0 */
a.forum_link_cat{                   
        font-weight:bold;           
}                                   
/* Affichage des membres en ligne */
.forum_online{                      
         background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		padding:6px;                
        overflow:hidden !important; 
        height:auto !important;     
        overflow:visible;           
        height:1%;                  
        clear:both;                 
}                                   
/* Fond des catégories dans l'administration */
.forum_cat_admin{                              
        width:100%;                            
        height:20px;                           
        margin-bottom:2px;                     
        padding:4px 0px;                       
}                                              
/* Contenu */                                  
.forum_contents{                               
        padding:0px;                           
        margin:0px; 
		min-height:0;
}                                              
.forum_cat_title{                              
        float:left;                            
        padding:0px 5px;
		line-height:35px;
}                                              
.forum_cat_title a{ 
color:#626262;
}                                              
a.forum_mbrmsg_links { /* Couleur des liens pour les messages du membre */
        color:#FFFFFF;                                                    
}                                                                         

