#connect-menu .vertical-fieldset,
#connect-menu .horizontal-fieldset {
	margin: 0px;
}

#connect-menu .vertical-fieldset form {
	margin-bottom: 10px;
}
#connect-menu .horizontal-fieldset form {
	display: inline-block;
}

#connect-menu .horizontal-fieldset span {
	display: none;
}

.connect-content {
	margin: auto;
	padding-top: 3px;
}

#connect-menu .connect-content li {
	list-style-type: none;
}

#connect-menu .horizontal-fieldset .connect-content li {
	display: inline-block;
	margin-right: 10px;
}
#connect-menu .horizontal-fieldset .connect-content li:last-child {
	margin-right: 0px;
}

#connect-menu .connect-content li > i {
	width: 18px;
	text-align: center;
}

#connect-menu .horizontal-fieldset ul li > i {
	vertical-align: 0px;
}

#connect-menu .vertical-fieldset label {
	text-align: center;
	padding-right: 0px;
}

#connect-menu .vertical-fieldset .connect-content {
	text-align: left;
}
#connect-menu .horizontal-fieldset .connect-content {
	text-align: center;
}

.connect-register i {
	vertical-align: -1px;
}

#connect-menu .vertical-fieldset #login,
#connect-menu .vertical-fieldset #password {
	width: 120px;
}

#connect-menu .vertical-fieldset button {
	margin: 5px 0px;
}

.js-menu-button {
	display: inline-block;
	padding: 8px 10px 5px 10px;
	border-width: 0 0 5px;
	border-style: solid;
    border-color: #22273D;
}

.js-menu-button i {
	padding-bottom: 5px;
}

#connect-menu {
	float: right;
}

#connect-menu .horizontal-fieldset .connect-content,
#connect-menu .horizontal-fieldset form{
	width: 100%;
	text-align: center;
}

#connect-menu .horizontal-fieldset li {
	padding: 3px 0px 3px 2px;
}

#connect-menu .horizontal-fieldset a {
	text-decoration: none;
}

#connect-menu .horizontal-fieldset a.social-connect {
	padding: 5px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	border-radius:4px;
}

#connect-menu .horizontal-fieldset span {
	display: inline-block;
}

.connect-content {
	visibility: hidden;
	opacity: 0;
	right: 50%;
	position: absolute;
	padding: 10px 5px;
	transition: right 0.5s, visibility 0.5s, opacity 0.5s;
    background-color: #22273D;
}

@media (min-width: 769px){
	#connect-menu .horizontal-fieldset .connect-content {
		width: auto;
		min-width: 340px;
	}
}

#connect-menu.active .connect-content {
	visibility: visible;
	opacity: 1;
	right: 0%;
	z-index: 200;
	transition: right 0.5s, visibility 0.5s, opacity 0.5s;
}

#connect-menu .horizontal-fieldset .connect-content li {
	display: block;
	text-align: left;
}

#connect-menu .horizontal-fieldset .connect-content img {
	float: right;
}

#connect-menu.active .horizontal-fieldset .connect-content input {
	display: block;
	width: 100%;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#connect-menu.active .horizontal-fieldset .connect-content .submit {
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 10px;
	width: 100%;
}
