/* ######################################
	Admin.Universelle 5.0 CsN | EDN
########################################## 
---------------------------------------------------------
 * Auteur   : CsN | EDN / Swan
 * Site web :  http://chez-swan.net/ | http://easy-design.net
 * Commentaire ou autre de l'auteur 
 # Contient les conteneur, fortement dépendant du design.
 # Merci de ne pas toucher au entête des fichiers CSS.
 #
 *-------------------------------------------------------


/* --------------------------------------
		admin_design.css
Contient les conteneur, fortement dépendant du design.
--------------------------------------*/ 

html, body{ height: 100%; }

body {
    background: none repeat scroll 0 0 #e9e9e9;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: auto;
    padding: 0;
}

div#global-admin {

    margin:auto;
    min-height: 95%;
    width: 1064px;
}
div#admin-corp {
    background: none repeat scroll 0 0 #f4f4f4;
    border: 1px solid #cccccc;
    margin: 10px auto 15px;
    width: 1064px;
}

.row-themes {
    background: none repeat scroll 0 0 #e0e0e0;
    border: 1px solid #cccccc;
    height: 45px;
    width: 100%;
}
/* ##### Entête de la page ###### */
header#header-admin-container {
	height: 85px;
	width: 100%;
	margin: auto;
}

div#header-admin { 
    background: url('images/panel.png') no-repeat scroll center top #888888;
    height: 50px;
    width: 100%;
}

div#site-logo {
	margin-right: 20px;
	background: url('images/logo.png') no-repeat;
	width: 90px;
}

div#site-infos {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	max-width: 940px;
	height: 90px;
	margin: 20px 20px 0px 20px;
}

div#site-name-container {
	margin-top: 10px;
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	height: 108px;
	overflow: hidden;
}

a#site-name {
	color: #F9FCFF;
	font-size: 50px;
	font-weight: bold;
	line-height: 1em;
	text-shadow: 0px 0px 0 rgb(0,0,0), 1px 0px 0 rgb(-255,-255,-255),2px 0px 1px rgba(0,0,0,0.1),2px 0px 1px rgba(0,0,0,0.2),0px 0px 1px rgba(0,0,0,.1);
	letter-spacing: 1.1pt;
	text-decoration: none;
	white-space: nowrap;
}

span#site-slogan {
	display: block;
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 4px;
	letter-spacing: 1.5pt;
}

div#sub-header-admin {
    background: url('images/div-subheader.png') repeat-x scroll 0 0 #54708b;
    border-bottom: 1px solid #747474;
    height: 35px;
    width: 100%;
}

div#sub-header-admin .dynamic-menu {
	width: auto;
	height: 35px;
	margin-top: -2px;
	padding-left: 15px;
	float: left;
}

div#sub-header-admin .dynamic-menu h5 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #515c68;
    font-weight: bold;
    margin-right: 0;
    margin-top: 10px;
}

div#sub-header-admin .dynamic-menu > ul > li:hover {
	background: none repeat scroll 0 0 transparent;
}

div#sub-header-admin .dynamic-menu > ul > li:hover h5 {
	color: #444444;
	background: none repeat scroll 0 0 transparent;
}

div#sub-header-admin .dynamic-menu > ul > li > ul {	border-radius: 0 4px 4px 4px; }

/*############################
		News Nav
############################*/

div.menu-button {
 	width: auto;
	height: 35px;
	margin-top: -2px;
	padding-left: 15px;
	float: left;}
	
div.menu-button > ul {display: block;}

div.menu-button  > ul > li.has-sub:hover {
	background: none repeat scroll 0 0 transparent;
}

div.menu-button  > ul > li.has-sub:hover h5 {
	color: #444444;
	background: none repeat scroll 0 0 transparent;
}

div.menu-button  > ul > li.has-sub> ul {	border-radius: 0 4px 4px 4px; }

/* Liens vers les menus étendus */
div#admin-extend-link {
    float: right;
    font-size: 12px;
    margin: 6px 15px 0 0;
    padding: 4px 6px;
}

div#admin-extend-link a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #515c68;
    font-weight: bold;
    margin-right: 0;
    margin-top: 10px;
}
div#admin-extend-link:hover a { color: #444444; }

/* Conteneur principal */
div#admin-main {
    margin: 10px 0 0;
    padding: 0;
}

/* Conteneurs */
div#admin-contents {
    background: none repeat scroll 0 0 #f7f8f5;
	border: 1px solid #cccccc;
	margin: auto auto 20px 202px;
	border-spacing: 1px;
	padding: 10px;
	border-bottom: 2px solid  #cccccc;
	overflow-x: auto;
}

html>body div#admin-contents {
	height: auto;
	min-height: 450px;
}

/* Menu de gauche */
div#admin-quick-menu {
	background-color: #f7f8f5;
	border: 1px solid #cccccc ;
	border-bottom: 2px solid #cccccc;
	border-spacing: 1px;
    float: left;
    margin: auto;
    padding: 10px 10px 20px;
    text-align: center;
    width: 190px;
}

div#admin-quick-menu ul {
	list-style-type: none;
	width: 169px;
	margin: 12px 0 0 0;
}

div#admin-quick-menu li {
	display: block;
	width: auto;
	padding: 15px 0px;
}

div#admin-quick-menu li.title-menu, nav#admin-quick-menu  a.js-menu-button {
    background: #888888 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-family: Verdana,"Bitstream Vera Sans",Times,serif;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 6px 10px;
    text-transform: uppercase;
}

div#admin-quick-menu li a {	
	display: inline-block;
	margin-bottom: 8px;
}

div#admin-quick-menu li a.quick-link {
    background: #9f9f9f none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #ffffff;
    font-family: Verdana,"Bitstream Vera Sans",Times,serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 2.2em;
    padding: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Tableaux de l'administration */
.block-container {
	width: 98%;
	margin-top: 15px;
}

/* Coloration des moteur de recherche */
.robot {
	color: #FF6600;
	font-size: 12px;
	font-weight: bold;
}

/* ##### Pied de page ###### */
footer#footer-admin {
    background: url('images/div-subheader.png') repeat-x scroll 0 0 #54708b;
    border-bottom: 1px solid #747474;
    bottom: 0;
    clear: both;
	padding: 10px 20px 0px 0px;
    height: 35px;
    margin: auto;
    text-align: center;
    width: 100%;
}

footer#footer span { color: #FFFFFF; font-size: 10px; }

/* Modif BBCode css */

.bbcode-container {
    background-color: #cccccc;
    border: 1px solid #222222;
    margin: 0;
    padding: 3px;
}