/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

:root {
    /* radius */
    --radius-small: 0.618em;
    --radius : 1.228em;
    --radius-menu : 2.228rem;

    /* padding */
	--pdg-large: 1.228em;
	--pdg-thin: 0.618em;

    /* cell */
    --cell-container-gap : -1.236em;
    --cell-gap : 1.236em;

    /* colors */
    --txt-rgb-m: 221, 221, 221;
    --txt-main:  #DDDDDD;
    --txt-rgb-s: 170, 170, 170;
    --txt-sub:  #AAAAAA;
    --txt-rgb-a: 255, 255, 255;
    --txt-alt:   #FFFFFF;

    --bgc-rgb-m: 10, 16, 42;
    --bgc-main:  #0A102A;
    --bgc-rgb-s: 33, 43, 85;
    --bgc-sub:   #212B55;
    --bgc-rgb-a: 2, 125, 184;
    --bgc-alt:  #027DB8;

    --bdr-rgb-m: 108, 61, 173;
    --bdr-main:  #6C3DAE;
    --bdr-rgb-s: 149, 107, 208;
    --bdr-sub:   #956BD0;
    --bdr-rgb-a: 2, 125, 184;
    --bdr-alt:   #027DB8;

    --darken :   0, 0, 0;
    --lighten:   255, 255, 255;

/* .link-color */
    --main-rgb-d: 1, 72, 119;
    --main-dark:  #014877;
    --main-rgb-t: 2, 125, 184;
    --main-tone:  #027DB8;
    --main-rgb-l: 3, 172, 219;
    --main-light: #03ACDB;

/* .logo-color */
    --logo-rgb-d: 32, 58, 84;
    --logo-dark:  #203A54;
    --logo-rgb-t: 50, 100, 147;
    --logo-tone:  #366493;
    --logo-rgb-l: 83, 145, 193;
    --logo-light: #5391C0;

/* .notice */
    --notice-rgb-d: 103, 81, 61;
    --notice-dark:  #67513D;
    --notice-rgb-t: 170, 142, 105;
    --notice-tone:  #AA8E69;
    --notice-rgb-l: 209, 188, 151;
    --notice-light: #D1BC97;

/* .question */
    --question-rgb-d: 35, 108, 177;
    --question-dark:  #236CB1;
    --question-rgb-t: 59, 175, 218;
    --question-tone:  #3BAFDA;
    --question-rgb-l: 91, 213, 237;
    --question-light: #5BD5ED;

/* .success */
    --success-rgb-d: 25, 122, 59;
    --success-dark:  #197A3B;
    --success-rgb-t: 42, 186, 102;
    --success-tone:  #2ABA66;
    --success-rgb-l: 66, 221, 148;
    --success-light: #42DC94;

/* .warning */
    --warning-rgb-d: 218, 73, 23;
    --warning-dark:  #DA4917;
    --warning-rgb-t: 238, 128, 39;
    --warning-tone:  #EE8027;
    --warning-rgb-l: 247, 175, 61;
    --warning-light: #F7AF3D;

/* .error */
    --error-rgb-d: 129, 23, 36;
    --error-dark:  #811724;
    --error-rgb-t: 191, 38, 60;
    --error-tone:  #BF263C;
    --error-rgb-l: 223, 59, 92;
    --error-light: #DF3B5C;

/* .notation.star - .link-color-alt */
    --star-rgb-d: 189, 135, 39;
    --star-dark:  #BD8727;
    --star-rgb-t: 224, 195, 65;
    --star-tone:  #E0C341;
    --star-rgb-l: 240, 225, 98;
    --star-light: #F0E163;

/* .visitor */
    --visitor-rgb-d: 32, 80, 94;
    --visitor-dark:  #20505E;
    --visitor-rgb-t: 54, 140, 161;
    --visitor-tone:  #368CA1;
    --visitor-rgb-l: 83, 186, 203;
    --visitor-light: #53BACB;

/* .custom-author */
    --custom-author-rgb-d: 47, 31, 26;
    --custom-author-dark:  #2F1F1A;
    --custom-author-rgb-t: 80, 52, 44;
    --custom-author-tone:  #50342C;
    --custom-author-rgb-l: 120, 81, 69;
    --custom-author-light: #785145;

/* .member */
    --member-rgb-d: 33, 125, 90;
    --member-dark:  #217D5A;
    --member-rgb-t: 72, 252, 173;
    --member-tone:  #37BC9B;
    --member-rgb-l: 85, 221, 199;
    --member-light: #55DDC7;

/* .moderator */
    --moderator-rgb-d: 146, 66, 171;
    --moderator-dark:  #9242AB;
    --moderator-rgb-t: 198, 121, 221;
    --moderator-tone:  #C67ADD;
    --moderator-rgb-l: 228, 167, 246;
    --moderator-light: #E4A7F6;

/* .administrator */
    --administrator-rgb-d: 194, 46, 13;
    --administrator-dark:  #C22E0D;
    --administrator-rgb-t: 242, 77, 40;
    --administrator-tone:  #F24D28;
    --administrator-rgb-l: 242, 126, 101;
    --administrator-light: #F27E65;
}
