/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.dashboard-item.cell > [class*="cell-"] { border-radius: var(--radius); }

.suggested-links .cell-thumbnail,
.related-links img { border-radius: var(--radius); }

.content-container { border-radius: var(--radius); }

#breadcrumb { border-radius: var(--radius); }

#global-container { border-radius: var(--radius); }

#top-content { border-radius: var(--radius); }

#bottom-content { border-radius: var(--radius); }

#top-footer { border-radius: var(--radius); }

#footer-content { border-radius: var(--radius); }

.colored-category .data-color-surround { border-radius: var(--radius) 0 0 var(--radius); }

.content.prime-item { border-radius: var(--radius); }

.item-thumbnail { border-radius: var(--radius); }

.formatter-content { border-radius: var(--radius); }

.formatter-hide-message { border-radius: var(--radius); }

.formatter-fieldset legend { border: none; }

figure { border-radius: var(--radius); }

#lightcase-content { border-radius: var(--radius); }

iframe { border-radius: var(--radius); }

video { border-radius: var(--radius); }

audio { border-radius: var(--radius); }

input { border-radius: var(--radius); }
.grouped-element input { border-radius: 0; }

.button { border-radius: var(--radius); }

.sharing-element a { border-radius: var(--radius); }

.modal .content-panel { border-radius: var(--radius); }

.tabs-nav .active-tab { border-radius: var(--radius); }

.accordion-container > .accordion-nav > ul > li:first-child > a { border-radius: var(--radius) var(--radius) 0 0; }

.accordion-container > .accordion-nav > ul > li:last-child > a { border-radius: 0 0 var(--radius) var(--radius); }

.wizard-container .wizard-header .progress { border-radius: var(--radius); }

.wizard-container .wizard-header li:first-child .active-step,
.wizard-container .wizard-header li:first-child .completed-step { border-radius: var(--radius) 0 0 var(--radius); }

.wizard-container .wizard-header li:last-child .active-step,
.wizard-container .wizard-header li:last-child .completed-step { border-radius: 0 var(--radius) var(--radius) 0; }

.table,
.table-no-header,
.calendar-table {
    border-radius: var(--radius);
    border-collapse: separate;
}

tfoot td:first-child { border-radius: var(--radius) 0 0 0; }

tfoot td:last-child { border-radius: 0 var(--radius) 0 0; }

tfoot td:only-child { border-radius: 0 0 var(--radius) var(--radius); }

thead th:first-child,
.formatter-table-head:first-child { border-radius: var(--radius) 0 0 0; }
thead th:last-child,
.formatter-table-head:last-child { border-radius: 0 var(--radius) 0 0; }

.formatter-table-head:only-child { border-radius: var(--radius) var(--radius) 0 0; }

.grouped-inputs .button:first-child:not(:only-child) { border-radius: var(--radius) 0 0 var(--radius); }

.grouped-inputs .button:last-child:not(:only-child)  { border-radius: 0 var(--radius) var(--radius) 0; }

.grouped-element:not(:first-child):not(:last-child) { border-radius: 0; }

.form-field-date .grouped-element.input-date,
.form-field-datetime .grouped-element.input-date { border-radius: var(--radius) 0 0 var(--radius); }

@media (min-width: 769px) {
    .grouped-element:first-child:not(:only-child),
    .form-field-date > .input-date,
    .form-field-datetime > .input-date {
        border-radius: var(--radius) 0 0 var(--radius);
    }

    .grouped-element:last-child:not(:only-child):not(select),
    .grouped-element:last-child:not(:only-child):not(select) input,
    .grouped-inputs .calendar-container:last-child > a {
        border-radius: 0 var(--radius) var(--radius) 0;
    }

    #module-mini-langsswitcher .grouped-element { border-radius: var(--radius); }
}

select { border-radius: var(--radius); }

form.options { border-radius: var(--radius); }

textarea { border-radius: var(--radius); }
textarea.grouped-area { border-radius: var(--radius) var(--radius) 0 0; }
textarea.grouped-area + .grouped-inputs .grouped-element:first-child:not(:only-child) { border-radius: 0 0 0 var(--radius); }
textarea.grouped-area + .grouped-inputs .grouped-element:last-child:not(:only-child) { border-radius: 0 0 var(--radius) 0; }

.bbcode-bar { border-radius: var(--radius) var(--radius) 0 0; }

.bbcode-bar + script + .form-field-textarea textarea,
.bbcode-bar + .form-field-textarea textarea { border-radius: 0 0 var(--radius) var(--radius); }

.progressbar-container { border-radius: var(--radius); }

.progressbar { border-radius: var(--radius); }

.explorer .content { border-radius: var(--radius); }

.pagination ul:not(.light-pagination) a { border-radius: var(--radius-small); }

.message-helper { border-radius: var(--radius); }
.cell-mini .message-helper { border-radius: var(--radius); }

.sortable-element { border-radius: var(--radius); }

.sortable-element .sortable-element { border-radius: var(--radius) 0 0 var(--radius); }

.sticky-menu { border-radius: var(--radius); }

.cssmenu ul ul { border-radius: var(--radius-menu); }
.cssmenu ul ul li:first-child:not(:only-child) { border-radius: var(--radius-menu) var(--radius-menu) 0 0; }
.cssmenu ul ul li { border-radius: 0; }
.cssmenu ul ul li:last-child:not(:only-child) { border-radius: 0 0 var(--radius-menu) var(--radius-menu); }
.cssmenu ul ul li:only-child { border-radius: var(--radius-menu); }

.cssmenu.cssmenu-right ul ul li:first-child:not(:only-child) { border-radius: var(--radius-menu) var(--radius-menu) 0 0; }

.cssmenu > ul > li:hover .cssmenu-title,
.cssmenu > ul > li.current .cssmenu-title { border-radius: var(--radius-menu); }

.cssmenu > ul > li.has-sub:hover > .cssmenu-title { border-radius: var(--radius-menu) var(--radius-menu) 0 0; }

.cssmenu > ul > li.has-sub:hover:first-child:not(:only-child) > .cssmenu-title { border-radius: 0 var(--radius-menu) 0 0; }

.cssmenu.cssmenu-left > ul > li.has-sub:hover > .cssmenu-title { border-radius: var(--radius-menu) 0 0 var(--radius-menu); }
.cssmenu.cssmenu-right > ul > li.has-sub:hover > .cssmenu-title { border-radius: 0 var(--radius-menu) var(--radius-menu) 0; }

.cssmenu.cssmenu-select > ul > li.has-sub:hover > .cssmenu-title { border-radius: 0; }

.cssmenu ul ul li:hover > .cssmenu-title,
.cssmenu ul ul li.current > .cssmenu-title,
.cssmenu ul ul li.has-sub:hover > .cssmenu-title { border-radius: 0; }

.cssmenu ul ul li:first-child:not(:only-child):hover > .cssmenu-title,
.cssmenu ul ul li.current:first-child:not(:only-child) > .cssmenu-title,
.cssmenu ul ul li.has-sub:hover:first-child:not(:only-child) > .cssmenu-title { border-radius: var(--radius-menu) var(--radius-menu) 0 0; }

.cssmenu ul ul li:last-child:not(:only-child):hover > .cssmenu-title,
.cssmenu ul ul li.current:last-child:not(:only-child) > .cssmenu-title,
.cssmenu ul ul li.has-sub:hover:last-child:not(:only-child) > .cssmenu-title { border-radius: 0 0 var(--radius-menu) var(--radius-menu); }

.cssmenu ul ul li.has-sub:hover:only-child > .cssmenu-title { border-radius: var(--radius-menu); }

.cssmenu ul ul li:last-child:not(:only-child):hover > .cssmenu-title,
.cssmenu ul ul li.current:last-child:not(:only-child) > .cssmenu-title { border-radius: 0 0 0 var(--radius-menu); }

#header .cell-list > ul > li:first-child:not(:only-child),
#header .cssmenu-horizontal > ul > li > ul > li:first-child:not(:only-child) > .cssmenu-title { border-radius: var(--radius-menu) var(--radius-menu) 0 0; }
#header .cell-list > ul > li:last-child:not(:only-child),
#header .cssmenu-horizontal > ul > li > ul > li:last-child:not(:only-child) > .cssmenu-title  { border-radius: 0 0 var(--radius-menu) var(--radius-menu); }

.cssmenu.cssmenu-group li.current .cssmenu-title,
.cssmenu.cssmenu-group li:hover .cssmenu-title { border-radius: 0; }

.cssmenu.cssmenu-group li.current:first-child:not(:only-child) .cssmenu-title,
.cssmenu.cssmenu-group li:hover:first-child:not(:only-child) .cssmenu-title,
.cssmenu.cssmenu-group li:first-child:not(:only-child) .cssmenu-title { border-radius: var(--radius) 0 0 var(--radius); }

.cssmenu.cssmenu-group li.current:last-child:not(:only-child) .cssmenu-title,
.cssmenu.cssmenu-group li:hover:last-child:not(:only-child) .cssmenu-title,
.cssmenu.cssmenu-group li:last-child:not(:only-child) .cssmenu-title { border-radius: 0 var(--radius) var(--radius) 0; }

.cssmenu-static li:hover .cssmenu-title,
.cssmenu-static li.current .cssmenu-title { border-radius: var(--radius) !important; }

.message-container .message-header-container { border-radius: var(--radius) var(--radius) 0 0; }

.message-container > [class*="message-"]:last-child { border-radius: 0 0 var(--radius) var(--radius); }

/* --- cell --- */
.cell { border-radius: var(--radius); }

/* modules */
.wiki-summary { border-radius: var(--radius); }
