/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/
body {
	position: relative;
	min-height: 100%; 
	height: auto;
	background: #FFFFFF url(images/body.png) repeat-x scroll center 335px;
	color: #555555;
	font-size: 13px;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

/* -------------------------------------- */
/* Conteneur global */

div#wrapper {
	height: 100%;
	overflow: hidden;
}

div#global {
	width: 980px;
	margin: auto;
	background: #FFFFFF;
}

/* Entête */
header#header {
	width: 100%;
	background: #000000;
}

div#top-header {
	margin: auto;
	height: 305px;
}

div#top-header form { margin-left: auto; }

div#sub-header {
	position: relative;
	width: 980px;
	margin: auto;
	height: 40px;
}

div#site-infos {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -ms-flexbox; /* IE10 */
	position: absolute;
	max-width: 940px;
	margin: 60px 20px 0px 100px;
	z-index: 3;
}

div#site-logo {
	margin-right: 20px;
	background: url('images/logo.png') no-repeat;
	width: 90px;
}

div#site-name-container {
	margin-top: 10px;
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-ms-flexbox: 1 1 auto; /* IE10 */
	height: 108px;
	overflow: hidden;
}

a#site-name {
	color: #F9FCFF;
	font-size: 50px;
	font-weight: bold;
	line-height: 1em;
	text-shadow: 0px 0px 0 rgb(0,0,0), 1px 0px 0 rgb(-255,-255,-255), 2px 0px 1px rgba(0,0,0,0.1), 2px 0px 1px rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,.1);
	letter-spacing: 1.1pt;
	text-decoration: none;
	white-space: nowrap;
}

span#site-slogan {
	display: block;
	color: #FFFFFF;
	font-size: 12px;
	padding: 4px 0px 0px 4px;
	letter-spacing: 1.5pt;
}

.bandeau-container {
    width: 100%;
    position: absolute;
    top: -5px;
    z-index: 10;

    background: rgb(102,102,102);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(34,34,34,1)));
    background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(34,34,34,1) 100%);
    background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(34,34,34,1) 100%);
    background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(34,34,34,1) 100%);

    border: 1px solid rgba(34,34,34,1);
    border-radius: 12px;
}

.bandeau-menu {
    margin: auto;
    list-style: none;
    margin-left: 25px;
    float: left;
}

.bandeau-element-menu {
	border-left: 1px dotted #333333;
	padding: 5px 8px 5px 8px;
    opacity: 0.6;
    text-align: center;
    color: #AAAAAA;
    float: left;
}
.bandeau-element-menu:first-child {
    margin-left: 30px;
    border-left: none;
}
.bandeau-element-menu:last-child {
	padding: 5px 8px 5px 8px;
    margin-right: 30px;
}

.bandeau-element-menu > a {
    font-family: Century Schoolbook;
    font-style: bold;
    font-size: 24px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.bandeau-element-menu > a,
.bandeau-element-menu:hover > a {
    color: #CCCCCC;
    text-decoration: none;
}

.bandeau-element-menu > p {
    font-family: Verdana;
    font-style: italic;
    font-size: 9px;
    margin-bottom: 0px;
}

.bandeau-element-menu {
    opacity: 0.6;
    transition: opacity 0.9s;
}
.bandeau-element-menu.unactive {
    opacity: 0.2;
}
.bandeau-element-menu.active {
    opacity: 1;
}

.bandeau-element-search {
    position: absolute;
    right: 0;
}


/* Compteur de visites */
div#compteur {
	color: #E9ECD9;
	position: absolute;
	top: 50px;
	right: 0px;
	font-size: 11px;
	margin-right: 15px;
	text-align: right;
}

/* Menu gauche */
aside#menu-left {
	float: left;
	width: 200px;
	margin-right: 5px;
}

/* Menu droit */
aside#menu-right {
	float: right;
	width: 200px;
	margin-left: 5px;
}

/* Taille du conteneur de page en fonction des menus droite et gauche */
aside#menu-left + div#main { float:left; width:775px; }
aside#menu-right + div#main { float:left; width:772px; }
aside#menu-left + aside#menu-right + div#main { float:left; width:570px; }

/* Contenu de la page */
div#main {
	width: auto;
}

/* Contenu central */
div#main-content {
	padding: 20px 10px;
	border-spacing: 1px;
}

/* Barre d'outils */
#actions-links-menu { float:right; margin: 0 5px 5px 5px; }

/* Barre de lien rapide */
nav#breadcrumb {
	text-indent: 10px;
	margin: -10px auto 15px auto;
	width: 980px;
	height: 55px;
	background: url(images/header-background.png) repeat-x;
	border-left: 1px solid #a7a6a6;
	border-right: 1px solid #a7a6a6;
}
nav#breadcrumb ol { list-style: none; padding: 25px 0 0 0;margin: 0; }
nav#breadcrumb ol li { display: inline; }
nav#breadcrumb a,
nav#breadcrumb span {
	 font-style: italic;
	 font-weight: normal;
}
nav#breadcrumb ol li:not(.current):after { content: '/'; color: #616161; } /* Séparateur de lien */

/* Emplacement au dessus et en dessous du contenu de la page */
div#top-content { margin: 0px auto; }
div#bottom-content { margin: 8px 0; }

/* Bloc au dessus du pied de page */
div#top-footer { clear: both; padding: 5px 0px; }

/* Pied de page */

footer#footer {
	clear: both;
	width: 100%;
	background: #0C0C0C url(images/footer-background.png) repeat-x;
	margin-top: 20px;
	padding-bottom: 20px;
	min-height: 200px;
}

footer#footer .footer-content {
	margin: 0px auto;
	width: 980px;

	text-align: center;
}

footer#thanks {
	background: url(images/footer-bottom.png) repeat-x;
}

footer#thanks .footer-infos {
	min-height: 40px;
	text-align: center;
	padding-top: 10px;
}

footer#thanks .footer-infos span {
	color: #707070;
	font-size: 12px;
}
footer#thanks .footer-infos a {
	color: #AFAFAF;
}


footer#footer .dynamic-menu img {
	display: none;
}

footer#footer .dynamic-menu {
	display: inline-block;
}

footer#footer .dynamic-menu li,
footer#footer .dynamic-menu li:hover,
footer#footer .dynamic-menu li a,
footer#footer .dynamic-menu li a:hover {
	border: none;
	background: none;
}

footer#footer .dynamic-menu li.first-level {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

footer#footer .dynamic-menu li.first-level ul {
	display: block;
	text-indent: none;
	position: static;
	opacity: 1;
	background: url(images/footer-separator.png) bottom right no-repeat;
	border: none;
	box-shadow: none;
	min-height: 148px;
	height: 100%;
}

footer#footer .dynamic-menu li.first-level:last-child ul {
	background: none;
}

footer#footer .dynamic-menu li.first-level > a,
footer#footer .dynamic-menu li.first-level > span {
	padding: 15px 0px 20px 0px;
	font-size: 14px;
	color: #777777;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	font-style: italic;
}

footer#footer .dynamic-menu li.first-level ul a,
footer#footer .dynamic-menu li.first-level ul span {
	display: inline;
	font-size: 13px;
	line-height: 21px;
	color: #ACACAC;
	text-decoration: none;
	font-weight: normal;
}

footer#footer .dynamic-menu li.first-level ul a:hover {
	color: #CCCCCC;
}

footer#footer .dynamic-menu li.first-level ul li {
	position: relative;
	text-indent: 35px;
}

footer#footer .dynamic-menu li.first-level ul li:before {
	content: "\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #EFEFEF;
}


footer#footer .block-container {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	text-align: center!important;
}

footer#footer .block-container  .block-contents div {
	background: url(images/footer-separator.png) bottom right no-repeat;
	height: 148px;
}

footer#footer .dynamic-menu + .block-container .block-contents div,
footer#footer .block-container + .block-container .block-contents div {
	background-position: bottom left;
}

footer#footer .block-container h5.sub-title {
	padding: 15px 0px 20px 0px;
	font-size: 14px;
	color: #777777;
	letter-spacing: 0px;
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}