/*---------------------------------------------------------
 * Theme    :  Xtrem_Gaming_Pink 5.0.4
 * Par      : EDN | Swan
 * Date     : 30/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


article.web-partner {
	border-width: 7px 1px 1px 1px;
	border-top-color: #ab019d;
}

article.web-privileged-partner {
	border-width: 7px 1px 1px 1px;
	border-top-color: #a80000;
}
