#connect-menu div.horizontal-fieldset {
	text-align: right;
	padding: 4px 10px 6px;
	float:right;
	border-radius:6px;
	background: #f7cc94; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3Y2M5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Y4YTIzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGEyMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7cc94 0%, #f8a230 53%, #f8a230 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7cc94), color-stop(53%,#f8a230), color-stop(100%,#f8a230)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7cc94 0%,#f8a230 53%,#f8a230 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7cc94 0%,#f8a230 53%,#f8a230 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7cc94 0%,#f8a230 53%,#f8a230 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7cc94 0%,#f8a230 53%,#f8a230 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cc94', endColorstr='#f8a230',GradientType=0 ); /* IE6-8 */

}

#connect-menu div.vertical-fieldset,
#connect-menu div.horizontal-fieldset { margin: 0px; }

#connect-menu div.vertical-fieldset form { margin-bottom: 10px; }
#connect-menu div.horizontal-fieldset form { display: inline-block; }

ul.connect-content {
	margin: auto;
	padding-top: 3px;
}

#connect-menu div.vertical-fieldset ul li,
#connect-menu div.horizontal-fieldset ul li { list-style-type: none; }

#connect-menu div.horizontal-fieldset ul.connect-content li {
	display: inline-block;
	margin-right: 10px;
}
#connect-menu div.horizontal-fieldset ul.connect-content li::last-child { margin-right: 0px; }

#connect-menu div.vertical-fieldset ul.connect-content li > i{ 
	width: 18px;
	text-align: center;
}

#connect-menu div.horizontal-fieldset ul li,
#connect-menu div.horizontal-fieldset ul li a { color: #FFFFFF; }
#connect-menu div.horizontal-fieldset ul li > i{ vertical-align: 0px; }

#connect-menu div.vertical-fieldset label { 
	text-align: center;
	padding-right: 0px;
}
#connect-menu div.vertical-fieldset ul.connect-content { text-align: left; }
#connect-menu div.horizontal-fieldset ul.connect-content { text-align: center; }
 
div.connect-register i { vertical-align: -1px; }

#connect-menu div.vertical-fieldset input#login, 
#connect-menu div.vertical-fieldset input#password { width: 120px; }
#connect-menu div.vertical-fieldset button { margin: 5px 0px; }