.forum_table 
{width:100%;border-collapse:collapse;border:none;}                                                                                                        
                                                                                                                                                                       
a.forum_link_pseudo
{color:#C00000;font-weight:bold;} 
                                                                                                       
a.forum_link_pseudo:hover 
{color:#f2fbff;font-weight:bold;}
                                                                                                        
/* Barre du titre du forum */                                                                            
.forum_title_l
{height:60px;margin-right:0px !important;margin-right:-3px;width:10px;background:url(images/forum_top_l.png) no-repeat;float:left;} 
                                                                                                       
.forum_title_r
{height:60px;width:10px;margin-left:0px !important;margin-left:-3px;background:url(images/forum_top_r.png) no-repeat right;float:right;} 
                                                                                                       
.forum_title
{margin:auto;height:55px;background:url(images/forum_top.png) repeat-x;color:#FFFFFF;padding-top:5px;margin-left:5px;margin-right:5px;}
                                                                                                        
.forum_title h2/*Titre du Forum*/
{font-size:14px;font-weight:bold;color:#121212;} 
                                                                                                       
.forum_title a/*Sous menu (panneau de moderation/recherche)*/
{color:#FFFFFF;} 
                                                                                                                                                                                
.forum_links /*Cadre Sujets suivis •  Derniers messages lus •  Messages non lus (1) • Marquer comme lu */
{background:#121212 url(images/msg_top_row.png) repeat-x;padding:6px;border:2px solid #f8a230;}

.forum_links a /*Couleur des Liens Sujets suivis •  Derniers messages lus •  Messages non lus (1) • Marquer comme lu */
{color:#FFFFFF;}  

.forum_links a:hover /*Couleur des Liens Sujets suivis •  Derniers messages lus •  Messages non lus (1) • Marquer comme lu */
{color:#f8a230;} 
                                                                                                     
.forum_notread
{background:#C00000;padding:4px;font-size:10px;color:#C00000;}  
		                                                                                                                                                                
.forum_text_column /*Sujets  	Auteur  	Réponses  	Vues  	Derniers messages*/
{height:20px;background:#121212 url(images/msg_top_row.png) repeat-x;border-bottom:1px solid #f8a230;font-size:10px;color:#FFFFFF;text-align:center;font-weight:bold;}
                                                                                                                                                                          
.forum_sous_cat /*Sous catégories titre sujets*/
{background:#121212;padding:6px;border:1px solid #f8a230}

.forum_sous_cat:hover /*Sous catégories titre sujets*/
{ background:#252525;} 
                                                                                                                                                                          
.forum_sous_cat_compteur /*Nombre de réponse/vue*/
{width:60px;background:#f8a230;color:#000000;text-align:center;border:1px solid #121212}       

.forum_sous_cat_compteur1 /*auteur du topic*/
{width:60px; background:#121212;border-bottom:1px solid #f8a230;text-align:center }  
                                                                                                                                                      
.forum_sous_cat_last/*derniers messages*/
{width:150px;background:#121212;font-size:10px;color:#FFF;text-align:center;border-bottom:1px solid #f8a230;}
                                                                                                        
.forum_sous_cat_last:hover/*derniers messages*/
{background:#252525;}                                                                                                        

.forum_post_form/* Formulaire pour poster les messages */
{width:100%;margin:auto; margin-top:15px;}
                                        
.forum_action/*  Sujet réglé? •  Alerter les modérateurs  Mettre en favori  Mettre en favori •  Suivre par message privé  Suivre par message privé •  Suivre par mail  Suivre par mail  */
{margin-top:5px}                                                               


a.forum_link_cat /* Les des catégories de niveau 0 */
{font-weight:bold}
                                  
/* Affichage des membres en ligne */
.forum_online
{background:#121212;border:2px solid #f8a230;color:#FFF;border-top:none;padding:6px;overflow:hidden !important;height:auto !important;overflow:visible;height:1%; clear:both;} 
                                  
/* Fond des catégories dans l'administration */
.forum_cat_admin
{width:100%;height:20px;margin-bottom:2px;padding:4px 0px;background:#C00000}  
                                            
                                
.forum_contents/* Contenu */  
{padding:0px;margin:0px;}
                                              
.forum_cat_title
{float:left;padding:0px 5px}
		                                              
.forum_cat_title a
{}     
                                         
a.forum_mbrmsg_links/* Couleur des liens pour les messages du membre */ 
{color:#C00000;}                                                                         

.module_top_l /* Barre supérieure Rss titre du topic gauche*/
{margin-right:0px !important;margin-right:-3px;width:29px;height:34px;background:url(images/msg_top_l.png) no-repeat left;float:left;}  
		                                                         
.module_top_r /* Barre supérieure Rss titre du topic droit*/
{margin-left:0px !important;margin-left:-3px;width:21px;height:34px;background:url(images/msg_top_r.png) no-repeat right;float:right;}  
		                                                          
.module_top /* Barre supérieure Rss titre du topic milieu*/
{height:25px;background:url(images/msg_top.png) repeat-x;padding-left:6px;margin-left:20px;margin-right:15px;padding-top:9px;color:#FFFFFF;font-weight:normal;border-bottom:none;}
		                                                            
.module_top a /* Barre supérieure Rss titre du topic lien*/
{color:#121212;} 

.module_top a:hover /* Barre supérieure Rss titre du topic lien*/
{color:#FFFFFF;} 
                                                           
.module_contents /* Contenu des modules */
{border-left:1px solid #f8a230;border-right:1px solid #f8a230;border-bottom:1px solid #f8a230;clear:both;}

.module_bottom_l /* Barre inférieure des modules gauche */
{margin-right:0px !important;margin-right:-3px;width:8px;height:24px;background:url(images/msg_bottom_l.png) no-repeat left;float:left;}  

.module_bottom_r /* Barre inférieure des modules droit */
{margin-left:0px !important;margin-left:-3px;width:8px;height:24px;background:url(images/msg_bottom_r.png) no-repeat right;float:right;}

.module_bottom /* Barre inférieure des modules milieu */
{height:22px;background:url(images/msg_bottom.png) repeat-x;padding-top:2px;padding-left:6px;margin-left:8px !important;margin-left:0px;margin-right:8px !important;margin-right:0px;font-size:12px;}
 
.module_bottom a/* Barre inférieure des modules lien */
{color:#121212}

.module_bottom a:hover/* Barre inférieure des modules lien */
{color:#FFFFFF}