/* News */
/* Contenu de la news */
.news_container{	

margin:auto auto 25px;
width:100%;
}
/* Barre supérieur des news */
.news_top_l{
	float:left;
}
.news_top_r{
	float:right;
}
.news_top{
background: url("images/top.jpg") no-repeat scroll center top transparent;
border:1px solid #5c3f2d;
font-size:12px;
font-weight:bold;
height:33px;
padding:10px;
}
/* Titre et liens url de la news */
.news_top a.com{
color:#5c3f2d;
}

a.news_title{
color:#5c3f2d;
font-size:12px;
font-weight:bold;
}

.news_content{
   padding-top: 10px;
    text-align: justify;
}
/* Barre inférieure des news */
.news_bottom_l{
}
.news_bottom_r{
}
.news_bottom{
	height:18px;
	font-size:10px;
	padding-left:6px;
	padding-right:6px;
}
