/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
 * Layout
*/

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	font-size: 1.456em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.content-preloader { opacity: 0; }

@media (min-width: 769px) {
	body { font-size: 1.618em; }
}

.content-wrapper { padding: 0.309em; }

@media (min-width: 769px)  {
	.content-wrapper { padding: 0 1.618em; }
}

/* --- Visits counter --- */
#visit-counter {
	position: absolute;
	right: 1.618em;
	top : 92.5%;
	font-size: 0.9em;
	text-align: right;
	min-width: 150px;
}

/* --- Header --------------------------------------------------------------- */
#header { position: relative; }

#inner-header-container {
	display: flex;
	flex-direction: column;
}

#inner-header-content { flex: 1 1 auto; }

#top-header-content,
#sub-header-content {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
}

#site-infos {
	display: flex;
	flex: 1 1 auto;
}

#site-logo {
	width: 60px;
	height: 60px;
	background-image: url(images/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	flex: 0 0 auto;
}

#site-name-container { margin: 0.228em 0 0 0.809em; }

#site-name {
	font-size: 1.618em;
	display: block;
	font-weight: 400;
	text-decoration: none;
}

#site-slogan {
	display: block;
	padding: 0.3236em 0 0 0.1618em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

@media (min-width: 769px) {
	#top-header-content { padding: 0.618em 1.618em; }

	#inner-header-container {
		flex-direction: row;
		min-height: 200px;
	}

	#top-header-content,
	#sub-header-content { flex-direction: row; }

	#site-logo {
		width: 90px;
		height: 90px;
	}

	#site-name-container { margin: 0 0 0 1.618em; }

	#site-name {
		font-size: 3.236em;
		line-height: 1.2em;
	}

	#site-slogan {
		font-size: 1em;
		padding: 0.1em 0 0 0.1618em;
	}
}


/* --- Global --------------------------------------------------------------- */
#global-container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

#main {
	position: relative;
	width: 100%;
	order : 1;
	margin-bottom: 0.618em;
}

.aside-menu {
	width: 100%;
	margin-bottom: 0.618em;
}

#menu-left  { order : 2; }
#menu-right { order : 3; }

@media (min-width: 769px) {
	#global-container { flex-direction: row; }

	.aside-menu {
		width: calc(100% / 13 * 3);
		margin-left: 1.618em;
	}

	.narrow-menu { width: calc(100% / 13 * 2.5); }

	#menu-left.narrow-menu-left,
	#menu-right.narrow-menu-right { margin-left: 0.809em; }

	#main {
		padding: 0 0 1.618em;
		flex: 1 0 auto;
	}

	#main.main-with-left,
	#main.main-with-right,
	#main.main-with-left.main-with-right { flex: 1 0 auto; }

	#main.main-with-left,
	#main.main-with-right { width: calc(100% - (100% / 13 * 5)); }

	#main.main-with-left.main-with-right { width: calc(100% - (100% / 13 * 8)); }
}

section {
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 0 0 0.809em;
}

@media (min-width: 769px) {
	section { margin: 0.809em auto; }
}

/* --- Up and under main content --- */
#top-content,
#bottom-content { padding: 0.618em; }

/* --- Footer --------------------------------------------------------------- */
#footer {
	clear: both;
	padding-top: 1.618em;
}

#footer-infos {
	min-height: 40px;
	text-align: center;
}

#footer-infos span {
	font-size: 0.809em 0;
	display: block;
}

@media (min-width: 769px) {

	#footer-infos span { display: inline-block; }
}
