/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.cssmenu-truncate li.has-more-sub:hover > ul {
	left: auto;
	right: 0;
}

.cssmenu-truncate li.has-more-sub:hover li:hover > ul {
	left: auto;
	right: 100%;
}

.cssmenu-truncate ul ul ul {
    box-shadow: -7px 0 10px rgba(var(--main-rgb-t), 0.15);
}

#cssmenu-anchors ul.truncated-list { flex-direction: column; }
#cssmenu-anchors .has-more-sub { order: 99999; }
