.forum_table {
	width:100%;
	border-collapse:collapse;
	border:none;
	border-left:1px solid #423833;
	border-right:1px solid #423833;
	background:#423833;
}
 
 .module_position {
	width:98.1%;
}

/* Classe du lien du pseudo sur forum */
a.forum_link_pseudo{
	color:#e8eaeb; 
	font-weight:bold;
}
a.forum_link_pseudo:hover { 
	color:#f2fbff; 
	font-weight:bold;
}
/* Barre du titre du forum */
.forum_title_l{
	float:left;
	width:5px;
	height: 55px;
}
.forum_title_r{
	float:right;
	width:5px;
	height: 55px;
}

.forum_title{
	margin:auto;
	height:55px;
	color:#FFF;
	background:transparent;
	border:none;

}
.forum_title h2{ /* Titre du forum */
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
.forum_title a{ /* Couleur des liens */
	color:#FFF;
	font-weight:normal;
}
/* Barre de liens du forum */
.forum_links{
	color:#FFF;
	padding:6px;
	border: none;

	background:transparent;
	

}
.forum_links a{ /* Couleur des liens */
	color:#FFF;
}

.forum_links a:hover{	
	color:#4C6500;
}

.forum_notread{ /* Message non lus */
	background:#423833;
	padding:4px;
	font-size:10px;
	color:#FFF;
}
/* Barre des textes relatifs aux colonnes */
.forum_text_column {	
	height:20px;
	font-size:11px;
	color:#FFFFFF;	
	text-align:center;
}

.forum_text_column a{	
	color:#FFFFFF;	
}

.forum_text_column a:hover{	
	color:#4C6500;
}

/* Case des liens sous-catégories */
.forum_sous_cat{
	background:#FFF;
	padding:6px;
}

/* Case compteur message/topic */
.forum_sous_cat_compteur{	
	width:60px;
	background:#F7F5F4;
	color:#333;
	text-align:center; 
}
/* Case compteur dernier topic/dernier message */
.forum_sous_cat_last{
	width:150px;
	background:#F7F5F4;
	font-size:10px;
	color:#333;
	text-align:center; 
}

/* Formulaire pour poster les messages */
.forum_post_form{
	width:80%;
	margin:auto;
	margin-top:15px;
}
/* Cadre des liens:alerter les modérateurs et suivre le sujet */
.forum_action{	
	margin-top:5px;
}

/* Les des catégories de niveau 0 */
a.forum_link_cat{
	font-weight:bold;
}
/* Affichage des membres en ligne */
.forum_online{
	color:#FFF;
	border:none;
	padding:6px;
	overflow:hidden !important;
	height:auto !important;
	overflow:visible;
	height:1%;
	clear:both;
	background:transparent;
}

.forum_online a{
	color:#FFF;
}

/* Fond des catégories dans l'administration */
.forum_cat_admin{
	width:100%;
	height:20px;
	margin-bottom:2px;
	padding:4px 0px;
}
/* Contenu */
.forum_contents{
	padding:0px;
	margin:0px;
	border:none;
}
.forum_cat_title{
	float:left;
	padding:0px 3px 5px 3px;
}
.forum_cat_title a{
}
a.forum_mbrmsg_links { /* Couleur des liens pour les messages du membre */
	color:#FFFFFF;
}

.module_top_l{ /* Barre supérieur des modules */

}
.module_top_r{

}
.module_top{
	height:auto;
	padding:8px 5px 8px 5px;
	background:#FFF;
	border:3px solid #423833;
	color:#444;
	font-weight:normal;
	text-indent:0px;
	border-radius:8px;
}
.module_top a{
	font-size:13px;
}
.module_contents{ /* Contenu des modules */
	clear:both;
}

.module_bottom_l{ /* Barre inférieure des modules */
	float:left;
	width:5px;
	height:20px;
}
.module_bottom_r{
	float:right;
	width:5px;
	height:20px;
}
.module_bottom{
	height:20px;
	padding:0px 5px 0px 10px;
	margin-left:0px;
	background:#423833;
	color:#FFF;
	font-weight:normal;
	text-indent:0px;
	border-radius:0 0 5px 5px;
}

.module_bottom a{
	color:#FFF;
	font-size:12px;
}

.module_bottom a:hover{	
	color:#4C6500;
}

.msg_position{
	width:94%;	
}

.forum_top {
	background: url(images/top.png) repeat-x top;
	border: 1px solid #64554D;
	border-top:1px solid #7A675E;
	border-bottom:1px solid #62524B;
	border-radius:8px;
}

.forum_ong_l {
	width:18px;
	height:22px;
	display:block;
	float:left;
	margin-top:-10px;
	background:transparent url('images/forum_ong_l.png') no-repeat top;
}

.forum_ong_r {
    width:18px;
	height:22px;
	display:block;
	float:right;
	margin-top:-10px;
	background:transparent url('images/forum_ong_r.png') no-repeat top;
}

.forum_ong_m {
	float:left;
	height:16px;
	background:transparent url('images/forum_ong_m.png') repeat-x top;
	margin-top:-10px;
	padding-top:6px;
	color:#333;
	font-size:10px;
}

.forum_ong_m  a{
	color:#444;
	font-size:10px;
}

.forum_title_fl {
    margin-left:8px;
	display:block;
	float:left;
	margin-top:-18px;
	padding-top:15px;
}

.forum_title_fr {
    margin-right:8px;
	display:block;
	float:right;
	margin-top:-18px;
	padding-top:15px;
}

.forum_table_top {
	width:100%;
	border-collapse:collapse;
	border:none;
	border-radius:5px 5px 0 0;
	background:#423833;
}

span.pagin_forum {
	float:right;
	border:1px solid #CCC;
	background:#F7F5F4;
	border-radius:2px;
}